# latex related
*.toc
*.pdf

# ignore word files
*.doc
*.docx

# vim related
*.swp
.vim/
*.vim

# markdown related
*.html

# mac related
*.DS_Store

# remove pychache
__pycache__/

# jupyter
.ipynb_checkpoints/

# dataset
datasets/
output/
output_RF/

# saved model
code_implementation/models/saved_models
